<html lang="es">
<script src="/js/main.js" defer></script>
<head>
  <meta charset="UTF-8">
  <title>BarberApp</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <nav>
      <a href="/">Inicio</a>
      <a href="/agendar">Agendar</a>
      <a href="/servicios">Servicios</a>
      <a href="/contacto">Contacto</a>
      <a href="/login">Login</a>
    </nav>
    <hr>
  </header>